@import url('https://fonts.googleapis.com/css?family=Black+Han+Sans|Nunito|Permanent+Marker&display=swap');


:root {
    --primary-color: #459ACC;
    --secondary-color: #8DE4FF;
    --accent-color: #90FFDC;
    --accent2-color: #87CBAC;

}


body {
    margin: 0 auto;
    padding: 1em;
    align-items: center;
    font-size: 16px;
    background: linear-gradient(blue, dodgerblue);

}

header,
footer,
nav {
    max-width: 100%;
}

html {
    /**height: 100%;**/

}

p {
    font-style: 'Nunito', sans-serif;
    font-size: 1.2rem;
}

h1 {
    font-family: 'Permanent Marker', 'Nunito', sans-serif;
    color: black;
    font-style: italic;
    font-size: 3.4rem;
    text-shadow: 1px 3px white;

}

.motto {
    text-shadow: .05px 1px black;
    font-size: 1.5rem;
    animation: blinkingText 1.2s infinite;
}

@keyframes blinkingText {
    0% {
        color: #000;
    }

    49% {
        color: gr#4106FF;
    }

    60% {
        color: dodgerblue;
    }

    100% {
        color: #FFDF00;
    }
}

.banner-box img {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100%;
    height: auto;
}

.banner-box img {
    grid-column: 1 / -1; /* the -1 is just a fancy way to say "span all the columns" */
    grid-row: 1;
}

.home-grid {
    display: grid;
    width:100%;
    grid-gap:10px;
   
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    

    

}

.home-headline-1 {
    grid-column: 1 / 4;
    grid-row: 1 / 2;
    padding: 0px;
}

.home-paragraph-1 {
    grid-column: 2 / 4;
    grid-row: 2 / 4;
    padding: 0px;

}

.home-right-img {
    height: auto;
    max-height: 100%;
    width: auto;
    max-width: 100%;
    grid-column: 4 / 6;
    grid-row: 1 / 3;
    justify-self:end;
    padding:0px;
    
    
}

.home-headline-2 {
    grid-column: 3 / 6;
    grid-row: 3 / 4;
    justify-self: stretch;
}

.home-paragraph-2 {
    grid-column: 4 / 6;
    grid-row: 4 / 5;
}

.home-left-img {
    grid-column: 1 / 3;
    grid-row: 3 / 5;

}

.home-paragraph-3 {
    grid-column: 1 / 6;
    grid-row: 6 / 7;
    text-align: center;
    justify-self: stretch;
}

.home-paragraph-3>p{
    text-align: left;
}

.headings {
    display: flex;
    flex-direction: column;

}

.home-left-img,
.home-right-img {
    border: 1px solid #ccc;
    padding: 10px;
    box-shadow: 5px 5px 5px #999;
}

h2 {
    font-family: 'Nunito', sans-serif;
    font-size: 3rem;
    color: whitesmoke;
    border-style: solid none solid;
}

h3 {
    font-family: 'Black Han Sans', sans-serif;
    color: whitesmoke;
    font-size: 1.4rem;
}

h4 {
    font-family: 'Black Han Sans', sans-serif;
    color: whitesmoke;
}

header {

    border-style: groove;
    padding: 1em;
    color: white;
    background: linear-gradient(yellow, gold);
    text-align: center;

}

header>h1 {
    color: red;
}

.heading {
    /**height:100x;**/
}



nav {

    margin: auto;
    border-style: groove;
    background: linear-gradient(gold, yellow);
    line-height: 3em;
    font-size: 1.2em;
    display: grid;
    justify-content: left;
    align-items: left;

}


nav>ul {
    display: flex;
    list-style-type: none;
    grid-column: 2/5;

}

nav a {
    padding: 1em;
    min-width: 70px;
}

nav a:link{ color:blue;}

nav a:visited {
    color: brown;
}

nav a:hover {
    color: dodgerblue;
    background-color: 639833;
}


p {
    font-family: 'Nunito';
    color: white;
    padding: 1em
}


.social {

    display: grid;
    width:100%;
    grid-gap:10px;
   
    grid-template-columns: 80% auto auto auto;

    text-align: right;
    border: 3px solid green;
    

align-items:center;
}
.social>p {
    grid-column: 1 / 2;
    grid-row: 1 /1;
    text-align:left;


}

.action {
    background-color: rgba(240, 240, 240, 0.8);
    margin: 1em 3em;
    padding: 1em;
    text-align: center;
    

}

.action button {
    line-height: 2em;
    width: 10em;
    background-color: #e7c24f;
    font-size: 1.2em;
}
@media screen and (max-width: 550px) {
    .home-grid {
      display: block;
    }
  }

